* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #31303a;
  background-image: url('img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-blend-mode:overlay;

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: #f4f4f4;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__middle {
  position: relative;
  background-color: #f4f4f4;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: #f4f4f4;
  border-radius: 50%;
}

.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: 700;
}

.timeline__component ul li {
  font-size: small;
  font-weight:lighter;
}
